@model IEnumerable<DNXTest.Models.Contact>
@{
    string FullName = string.Empty;
}
<h2>Contact List</h2>
<div class="container">
    <p>
        @Html.ActionLink("Create contact", "Index")
    </p>
</div>





    
    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PositionAndCompany)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NickName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodAllergies)
        </th>
        <th>
        </th>
    </tr> 
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Raw(string.Format("{0} {1} {2} {3}", item.Prefix, item.FirstName, item.LastName, item.Suffix))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionAndCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NickName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodAllergies)
            </td>
            <td>
                @Html.ActionLink("Edit", "Index", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
