@model IEnumerable<DNXTest.Models.ContactWorkPreference>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contact.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cooking)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maintenance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gardening)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cleaning)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Office)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArtWorkshop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExperienceOnWorkAreas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkAreasExclusionAndReasons)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReasonsToOfferVoluntaryWorkToCenter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WhenToComeStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WhenToComeEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HopesExpectationsForStay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkillsAndKnowledgesToDevelopDuringStay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HowDidContactFoundTheCenter)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Contact.ContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cooking)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Maintenance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gardening)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cleaning)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Office)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArtWorkshop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExperienceOnWorkAreas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkAreasExclusionAndReasons)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReasonsToOfferVoluntaryWorkToCenter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WhenToComeStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WhenToComeEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HopesExpectationsForStay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SkillsAndKnowledgesToDevelopDuringStay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HowDidContactFoundTheCenter)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ContactId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ContactId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ContactId })
        </td>
    </tr>
}

</table>
